$black: #000;
$dark: #191a20;
$primary: #3f4150;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7; // 그다음 : border
$background: #f7f8fa; // 흰색 다음으로 연한거 -> 배경색이다 (국룰)
$white: #ffffff;

$blue: #3da5f5;
$blue-light: #ecf6fe;
$blue-dark: #3186c4;

$red: #f86d7d;
$green: #22c58b;
